@media(max-width:749px) {
    .container {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        background-color: black;
        max-height: 100vh;
        width: 100vw;
    }

    .conteudo {
        background-color: #ffffff;
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        left: 0;
        margin: 10px;
        max-width: 90%;
        height: auto;
    }

    .conteudo h2 {
        font-size: 50px;
    }

    .conteudo p {
        font-size: 15px;
    }

    .m1 {
        width: 100vw;
        height: 100vh;
    }

    .botoes {
        display: flex;
        height: 90%;
        width: 100%;
        justify-content: space-between;
        align-items: end;
    }

}

@media(min-width:750px) {
    .m1 {
        width: 100vw;
        height: 100vh;
    }

    .conteudo {
        display: flex;
        left: 80px;
        margin: 10px;
    }
}